body, html, h1 {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
}

body div {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

.bg-img1 {
    background: lightgray;
    background: url(images/bg2.jpg) no-repeat top;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.bg-img2 {
    background: grey;
    background: url(images/bg2.jpg) no-repeat bottom;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

header {
    /*padding: 30px 90px;*/
    position: fixed;
    margin: 30px 5%;
    width: 90%;
}

#heder-txt {

    float: left;
    color: white;
}

#heder-txt h1 {
    margin: 0;
}

.load-prsnt {
    float: right;
}

#heder-txt a:hover {
    color: cornflowerblue;
}

.load-prsnt a {
    text-decoration: none;
    color: white;
    padding: 0 40px;
    border: solid 1px;
    font-size: 1.5em;
    transition: 0.5s;
}

.load-prsnt a:hover {
    color: red;
    background-color: white;
    text-decoration: none;

    transition: 1s;
}

.load-prsnt:hover {
    background-color: white;
    text-decoration: none;
    color: red;
}

.sec-1 {
    height: 500px;
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    line-height: 0.7;
}



.sec-1 span {
    font-size: 2rem;
    color: red;
}

.header-txt {
    text-transform: uppercase;
    font-size: 2.5em;
    /*margin: 10px 0;*/
    font-weight: bold;
    width: 50%;
}

.sec-2 {
    background: white;
    height: 655px;
    padding: 55px;
    position: relative;

}



.zoom:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.container {
    width: 1000px;
    margin: auto;
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
/*.sec-2 .container:hover {*/
    /*-webkit-transform: scale(1.2);*/
    /*-ms-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
/*}*/

/*.fb:hover {*/
    /*background-color: #afbdd4;*/
    /*border-radius: 50%;*/
/*}*/
/*.linkedin:hover {*/
    /*background-color: lightskyblue;*/
    /*border-radius: 50%;*/
/*}*/
/*.instagram:hover {*/
    /*background-color: #517fa4;*/
    /*border-radius: 50%;*/
/*}*/
/*.git:hover {*/
    /*background-color: bisque;*/
    /*border-radius: 50%;*/
/*}*/

.sec-1-photo-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec-2-info-wrap {
    margin-top: 135px;
    padding-top: 10px;
}

.sec-2-right-col {
    float: right;
    width: 50%;
    text-align: center;
}
.sec-2-right-col .load-prsnt-footer a {
    padding: 10px 105px;
}


.slash {
    /*position: absolute;*/
    height: 10px;
    width: 40px;
    background-color: red;
    margin: 0 0 35px 0;
}

.slash-white {
    background-color: white;
}

.photo-block-mid {
    background: white;
    width: 310px;
    border-radius: 50%;
    height: 310px;
    position: absolute;
    bottom: -315px;
    z-index: 9999;
    padding: 5px 5px 5px 5px;
}

.photo-block-mid img{
    margin-top: 10px;
}
.photo-block {
    background: transparent;
}

.descr {
    display: flex;
    justify-content: space-between;
}

.descr-block {
    border-left:1px solid cadetblue;
    width: 45%;
    padding-left: 50px;
}
.descr-block:first-child {
    border: none;
    padding: 0;
}


.exp {
    font-size: 1.5em;
}

.exp li {
    list-style: decimal;
}
.info-main {
    width: 45%;
    font-size: 1.8em;
}

.second-header {
    font-size: 2.1em;
    font-weight: bold;
}
.terms {
    font-size: 2em;
    color: cadetblue;
}

#prev-arrow {
    position: absolute;
    bottom: 275px;
    cursor: pointer;
}

#next-arrow {
    position: absolute;
    bottom: 275px;
    right: 30px;
    cursor: pointer;
}

.cont {
    display: none;
    -webkit-transition: all 0s ease;;
    -moz-transition: all 0s ease;;
    -o-transition: all 0s ease;;
    transition: all 0s ease;
}
#1-skills {
    display: block;
}



.sec-3 {
    padding: 30px;
}

.skills-header {
    color: white;
}

.specopt {
    text-align: center;
    font-size: 2em;
    margin: auto;
    margin-bottom: 35px;
    width: 60%;
    background-color: floralwhite;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.rot {
    width: 33.3%;
}

.skills {
    width: 100%;
    min-width: 243px;
    background-color: white;
    /*padding: 100px 0;*/
    height: 243px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /*line-height: 0;*/
    transform-style: preserve-3d; /*Сохраняет трехмерное воспроизведение эффекта*/
    transition: 0.5s;
}



.rot:nth-child(2n) .skills{
    background-color: black;
}


.rot:nth-child(2n) .skills .skill-header {
    color: white;
}
.rot:hover .skills{
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: lightgrey;
}


.rot:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    z-index:9999;
}

.rot:nth-child(2n) .skills .skill-level {
    color: red;
}

.skill-header {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.7em;
    font-weight: bold;
}

.cert-name {
    font-size: 1.3em;
    font-weight: bold;
}

.org {
    font-weight: bold;
}

.face {
    position: absolute;
    -webkit-backface-visibility: hidden;
}


.back {
    -webkit-transform: rotateY(180deg);
    z-index:9999;
    width: 70%;
}
.back .bord {
    border-bottom: 0.5px solid red;
}
.back .skill-header {
    color: black!important;
}


.sec-4 {
    background-color: grey;
    padding: 30px;
}

ul {
    padding: 0;
}

.contacts-container {
    width: 50%;
}

.my-contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.my-contacts div {
    width: 50%;
    max-width: 300px;
}

.my-contacts div:nth-child(2n) {
    margin: 5px 0;
}

footer {
    padding: 50px;
}

.footer-container {
    display: flex;
}

.left-footer {
    width: 50%;
}

.right-footer {
    width: 50%;
    text-align: center;
    line-height: 2;
}

.load-prsnt-footer {
    width: fit-content;
    margin: auto;
}

.load-prsnt-footer a:hover {
    background-color: black;
    text-decoration: none;
    color: red;
}

.load-prsnt-footer a {
    text-decoration: none;
    padding: 10px 150px;
    border: solid 1px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.author {
    margin: auto;
    margin-top: 20px;
    width: 170px;
}

.my-links a {
    display: inline-block;
    margin: 0 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.contentnav {
    position: absolute;
    left: 45%;
    bottom: 20px;
    z-index: 100;
    text-align: center;
    line-height: 30px;

}

.contentnav a {
    margin: 5px;
    border: 1px solid red;
    border-radius: 50%;
    text-decoration: none;
    background-color: red;
    padding:0 11px;
}

.contentnav a.active-btn {
    background-color: white;
    padding:3px 14px;

}
.active {
    display: inherit;
}
.hidden {
    display: none;
}




